*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    height: 100vh;
    background: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.subContainer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer{
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

.descriptionContainer{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.text{
    width: 30rem;
    color: gray;
}

.buttonContainer{
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: center;
}

.button{
    height: 2.5rem;
    width: 8rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(79,115,205);
    border: none;
    cursor: pointer;
    transition: all 0.15s;
}

.button:hover{
    background-color: rgb(79,115,205);
    transform: scale(1.1);
    color: rgb(235, 232, 232);;
}

.button:active{
    background-color: rgb(206, 205, 205);
    transform: scale(1);
}

.index-img{
    margin-right: 20rem;
    height: 30rem;
}